<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>チャットルーム</title>
    <style>
        .chat_area {
            overflow:auto;
            border:solid;
            width:400px;
            height:500px;
            vertical-align:bottom;
            background-color: #DDDDDD;
        }

    </style>
</head>
<body>

<h2>ChatApp</h2>

<div id="chart_area" class="chat_area">
    % for talk in talk_list:
        <div class="talk" title='{{ talk["talk_time"] }}'>{{ talk["username"] }}:{{ talk["chat_data"] }}</div>
    % end
</div>
<div id="input_area">
    <form method="POST" action="/talk">
        {{ username }} <input type="text" name="chat" /><input type="submit" value="送信" />
    </form>
</div>


</body>
</html>