<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>チャットルーム</title>
     % include("library.html")
    <style>
        .chat_area {
            overflow:auto;
            border:solid;
            width:400px;
            height:500px;
            vertical-align:bottom;
            background-color: #DDDDDD;
        }

    </style>
</head>
<body>

<div class="container">
    <h2>ChatApp</h2>

    <div id="chart_area" class="chat_area row col-md-12">

    </div>

    <div id="input_area" class="row col-md-12">
        <form method="POST" action="#" id="talkForm">
            {{ username }} <input type="text" name="chat" /><input type="submit" value="送信" />
        </form>
    </div>
</div>

<script>
    // 最終発言のデータを格納する
    var LAST_TALK = null;

    // ページ表示時に発言データを取得・表示する
    $(document).ready(function(){
        getTalkData();
    });

    // フォームの更新を非同期通信に割り当て
    $("#talkForm").on("submit", function(event){
        // 本来のformのsubmitを防止
        event.preventDefault();
        saveTalkData();

    });

    // 3秒毎に更新の有無をサーバに問合せる
    setInterval(checkUpdate, 3000);

    // 発言データの送信
    function saveTalkData(){
        $.ajax({
            type: "POST",
            url: "/api/talk",
            data: {
                "chat": $("input[name='chat']").val()
            },
            dataType: "json"
        }).done(function(data){
            if(data["status"] != "success"){
                alert("ERROR");
            }else{
                // 入力欄のクリア
                $("input[name='chat']").val("");
                // チャット欄の更新
                getTalkData();
            }
        }).fail(function(data){
            console.error(data);
        });
    }

    // 発言データの取得
    function getTalkData(){
        $.ajax({
            type: "GET",
            url: "/api/talk",
            dataType: "json"
        }).done(function(data){
            // JSONを受け取り各発言のDOMを構築する
            $("#chart_area").empty();
            for(var i in data){
                appendTalkNode(data[i].talk_time, data[i].username, data[i].chat_data);
                LAST_TALK = data[i];
            }
        }).fail(function(data){
            console.error(data);
        });
    }

    // 発言データのDOMを追加する
    function appendTalkNode(talkTime, userName, chatData){
        // チャット表示領域
        var chatArea = $("#chart_area")
        // 発言の外側のDIV要素
        var rowDiv = $("<div></div>", {"class": "row"})
        // 発言の内側のDIV要素
        var talkDiv;
        // 自分の発言かどうかの分岐
         if (userName == "{{username}}"){
             talkDiv = $("<div></div>", {
                "class": "talk alert alert-info pull-right col-md-5",
                "style": "word-wrap: break-word",
                "title": talkTime
             })
         }else{
             talkDiv = $("<div></div>", {
                "class": "talk alert alert-success pull-left col-md-5",
                "style": "word-wrap: break-word",
                "title": talkTime
             })
         }
        // 発言内容をセット
        talkDiv.text(userName + ":" + chatData);

        // 内側のDIVを外側のDIVに追加
        rowDiv.append(talkDiv)

        // チャット表示領域に外側のDIVを追加
        chatArea.append(rowDiv);

        // 追加した発言の位置へスクロール
        chatScrollBottom();
    }

    // サーバ側とクライアント側で最後の発言を比較して
    // 差があれば表示を更新する
    function checkUpdate(){
        $.ajax({
            type: "GET",
            url: "/api/last_talk",
            dataType: "json"
        }).done(function(data){

            // 最後の発言の比較
            if(data.username === LAST_TALK.username &&
               data.talk_time === LAST_TALK.talk_time &&
               data.chat_data === LAST_TALK.chat_data){
                console.log("not need update");
            }else{
                // 更新を実行
                getTalkData();
            }

        }).fail(function(data){
            console.error(data);
        });
    }


    function chatScrollBottom(){
        // 最下部へのスクロール
        $('#chart_area').animate({scrollTop: $('#chart_area')[0].scrollHeight}, 0);

    }


</script>

</body>
</html>