<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>チャットルーム</title>
     % include("library.html")
    <style>
        .chat_area {
            overflow:auto;
            border:solid;
            width:400px;
            height:500px;
            vertical-align:bottom;
            background-color: #DDDDDD;
        }

    </style>
</head>
<body>

<div class="container">
    <h2>ChatApp</h2>

    <div id="chart_area" class="chat_area row col-md-12">
        % for talk in talk_list:
            <div class="row">
            % if talk["username"] == username:
                <div class="talk alert alert-info pull-right" title='{{ talk["talk_time"] }}'>{{ talk["username"] }}:{{ talk["chat_data"] }}</div>
            % else:
                <div class="talk alert alert-success pull-left" title='{{ talk["talk_time"] }}'>{{ talk["username"] }}:{{ talk["chat_data"] }}</div>
            % end
            </div>
        % end
    </div>

    <div id="input_area" class="row col-md-12">
        <form method="POST" action="/talk">
            {{ username }} <input type="text" name="chat" /><input type="submit" value="送信" />
        </form>
    </div>
</div>

</body>
</html>